@media screen and (max-width:426px) {
    .card {
        flex-direction: column;
        padding: 11px;
        height: fit-content;
    }

    .name-arrow {

        left: 45px;
        top: -95px;
    }

    .pro-detail img {
        width: 285px;
    }
}

@media screen and (max-width:580px) {
    nav {
        flex-direction: column;
        height: fit-content;
    }

    nav ul {
        width: 90%;
    }

    .intro {
        flex-direction: column;
        align-items: center;
    }

    .img-container {

        position: relative;
        right: 20%;
    }

    .experience {
        flex-direction: column-reverse;
    }
}


@media screen and (max-width:770px) {
    main {
        width: 90%;
    }

    .card {
        width: 95%;
    }

    .pro-detail {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:1220px) {

    .up,
    .dow {
        flex-direction: column;
    }

    .card {
        width: 80%;
    }
}