@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #11071f;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Preahvihear', sans-serif;
    color: #FFFFFF;
}

/* all */
a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

/* end */

header {
    width: 100%;
}

nav {
    width: 100%;
    height: calc(35vh/2.7);
    min-height: 75px;
    background: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32%;

}

nav ul li {
    list-style: none;
    padding: 0 10px;
    transition: all 0.6s;
}

nav ul li:hover {
    transform: translateY(-7px);
}

nav ul li a {
    height: 1.6em;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

nav img {
    width: 65px;
    border-radius: 30px;
}

main {
    width: 70%;
}

.intro {
    display: flex;
}

.img-container {
    margin-top: 55px;
    width: 204px;
    height: 215px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container img {
    margin-top: 30px;
    width: 102px;
}

.name-arrow {
    position: relative;
    margin-top: -98px;
    left: 93px;
    top: -121px;
}

.head-cover {
    font-size: 50px;
    line-height: 1.2;
}

.name {
    bottom: 106px;
    left: 105px;
    position: relative;
    width: max-content;
}

.img-discription {
    margin-top: 85px;
}

.oval {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    transform: rotate(350deg);
    border-radius: 50%;
    width: 149px;
    height: 59px;
}

.para-1 {
    line-height: 33px;
    font-size: 22px;
    margin: 80px 0;
}

.para-2 {
    margin: 40px 0;
    font-size: 22px;
    line-height: 28px;
}

.work-details {
    font-size: 40px;
    line-height: 41px;
    text-align: center;
}

.up,
.dow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 50%;
    height: 38vh;
    background-color: #1e0b3a;
    box-shadow: 1px -5px 12px 0px #6100ff;
    border-radius: 15px;
    margin: 19px;
    display: flex;
    align-items: center;
}

.card img {
    width: 73px;
    height: fit-content;
    margin: 0 18px 34px 10px;
    border-radius: 50%;
    box-shadow: 0px 20px 17px 1px #6100ff59;
}

.details p {
    font-size: 14px;
    line-height: 19px;
}

.details button {
    width: 118px;
    height: 29px;
    background: #300657;
    border: 1.5px solid #693B93;
    border-radius: 14px;
    margin: 6px 0px 7px 50px;
}

.details button a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para-3 {
    margin: 40px;
    font-size: 24px;
    line-height: 32px;
}

.experience {
    display: flex;
    align-items: center;
}

.project-container h3 {
    color: #9857D3;
    font-size: 14px;
}

.project h4 {
    font-size: 40px;
    color: #CCD6F6;
    margin: 16px 0px 5px 8px;
}

.pro-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grp-2 {
    flex-direction: row-reverse;
}

.shine {
    position: absolute;
    width: 525px;
    height: 600px;
    right: 13%;
    background: radial-gradient(50% 50% at 50% 50%, #c699ff26 0%, rgba(50, 15, 133, 0) 100%);
}

.pro-detail img {
    width: 382px;
    border-radius: 22px;
    position: relative;
    right: 25px;
    z-index: -1;
    box-shadow: -4px -6px 20px 0px #0084ff;
}

.pro-detail p {
    height: fit-content;
    padding: 18px;
    line-height: 20px;
    background: #95959575;
    border-radius: 20px;
    color: #CCD6F6;
}

.contact {
    margin: 40px 0;
}

.contact span {
    font-size: 25px;
}

.contact p {
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0px;
}

.logos a {
    margin: 0px 3px;
}

.logos a img {
    width: 25px;
    border-radius: 50%;
    transition: all 0.6s;
}

.logos a img:hover {
    background: rgb(0 0 0 / 25%);
    transform: translateY(-7px);
}