@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #11071f;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Preahvihear', sans-serif;
    color: #FFFFFF;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    height: calc(35vh/2.7);
    min-height: 75px;
    background: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32%;

}

nav ul li {
    list-style: none;
    padding: 0 10px;
    transition: all 0.6s;
}

nav ul li:hover {
    transform: translateY(-7px);
}

nav ul li a {
    height: 1.6em;
    width: 3em;
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    color: white;
}

nav img {
    width: 65px;
    border-radius: 30px;
}

main {
    width: 70%;
}

.intro {
    display: flex;
}

.img-container {
    margin-top: 55px;
    width: 204px;
    height: 215px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container img {
    margin-top: 30px;
    width: 8vw;
}

.name-arrow {
    position: relative;
    margin-top: -98px;
    left: 93px;
    top: -121px;
}

.name {
    bottom: 106px;
    left: 105px;
    position: relative;
    width: max-content;
}

.img-discription {
    margin-top: 85px;
}

.oval {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    transform: rotate(350deg);
    border-radius: 50%;
    width: 149px;
    height: 59px;
}

.para-1 {
    line-height: 33px;
    font-size: 22px;
    margin: 80px 0;
}

.para-2 {
    margin: 40px 0;
    font-size: 22px;
    line-height: 28px;
}

.work-details {
    font-size: 40px;
}

.up {
    display: flex;
    justify-content: space-between;
}

.dow {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 50%;
    height: 138px;
    background-color: #1e0b3a;
    box-shadow: 1px -5px 12px 0px #6100ff;
    border-radius: 15px;
    margin: 19px;
    display: flex;
    align-items: center;
}

.card img {
    width: 73px;
    height: fit-content;
    margin: 0 18px 34px 10px;
    border-radius: 50%;
    box-shadow: 0px 20px 17px 1px #6100ff59;
}

.details p {
    font-size: 14px;
    line-height: 19px;
}

.details button {
    width: 118px;
    height: 29px;
    background: #300657;
    border: 1.5px solid #693B93;
    border-radius: 14px;
    margin-top: 14px;
    margin-left: 59px;
}

.details button a {
    text-decoration: none;
    color: white;
}

.para-3 {
    margin: 40px;
    font-size: 24px;
    line-height: 32px;
}

.experience {
    display: flex;
}
.contact {
    margin: 40px 0;
}

.contact span {
    font-size: 25px;
}

.contact p {
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0px;
}

.logos a {
    margin: 0px 3px;
}

.logos a img {
    width: 25px;
    border-radius: 50%;
    transition: all 0.6s;
}

.logos a img:hover {
    background: rgb(0 0 0 / 25%);
    transform: translateY(-7px);
}