@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #11071f;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Preahvihear', sans-serif;
    color: #FFFFFF;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    height: calc(36vh/2.7);
    min-height: 40px;
    background: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 32%;

}

nav ul li {
    list-style: none;
    padding: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

main {
    width: 70%;
}

.intro {
    display: flex;

}

.img-container {
    margin-top: 55px;
    width: 204px;
    height: 215px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container img {
    margin-top: 30px;
    width: 8vw;
}

.name-arrow {
    position: relative;
    margin-top: -98px;
    left: 96px;
    bottom: 125px;
}

.name {
    bottom: 106px;
    left: 105px;
    position: relative;
    width: max-content;
}

.img-discription {
    margin-top: 85px;
}

.oval {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    transform: rotate(350deg);
    border-radius: 50%;
    width: 149px;
    height: 59px;
}

.para-1 {
    line-height: 33px;
    font-size: 22px;
    margin: 80px 0;
}

.para-2 {
    margin: 40px 0;
    font-size: 22px;
    line-height: 28px;
}

.work-details {
    font-size: 40px;
}

.para-3 {
    margin: 40px 0;
    font-size: 24px;
    line-height: 32px;

}

.making-pic {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    width: 0.5px;
    height: 70px;
    background-color: blue;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.glow-effect{
    width: 288px;
    height: 215px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 1%, rgba(50, 15, 133, 0)99%);
    position: absolute;
}

.circle {
    border: 1px solid #763CAC;
    border-radius: 50%;
    width: 397px;
    height: 221px;
}

#circle-2{
    position: absolute;
    width: 490px;
}

#circle-3{
    position: absolute;
    width: 350px;
}

#circle-4{
    position: absolute;
    width: 200px;
    height: 100px;
}

#circle-5{
    position: absolute;
    width: 200px;
    height: 115px;
}

.making-pic img{
    position: absolute;
    width: 74px;
    border-radius: 45px;
}

.contact {
    margin: 40px 0;
}

.contact span {
    font-size: 25px;
}

.contact p {
    font-size: 15px;
    line-height: 22px;
}